on:
  push:
    branches-ignore:
      - master
  workflow_dispatch:
name: Build
jobs:
  snapshot:
    #if: ${{!startsWith(github.ref.split(’/’)[2], 'release-please')}}
    runs-on: ubuntu-latest
    # https://github.com/google-github-actions/release-please-action in case more config is needed
    steps:
      - uses: actions/checkout@v2
        # these if statements ensure that a publication only occurs when
        # a new release is created:
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Download MC assets
        run: ./gradlew downloadAssets || ./gradlew downloadAssets || (sleep 30s && ./gradlew downloadAssets)
      - name: Run DataGen
        run: ./gradlew runData
      - name: Build and upload preview (run for non-release builds)
        if: ${{ github.ref }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          # Build
          ./gradlew build discordupload
